<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516862105475-07sfp5btc44s42prn1bjpc41fdg5uk3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516862105475-07sfp5btc44s42prn1bjpc41fdg5uk3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCjMJA9exVns6gcjtxB-Zmtr6dI6KaT2mU</string>
	<key>GCM_SENDER_ID</key>
	<string>516862105475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogcat</string>
	<key>PROJECT_ID</key>
	<string>blogcat-c398a</string>
	<key>STORAGE_BUCKET</key>
	<string>blogcat-c398a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516862105475:ios:3559ecb74c17313d9f88b6</string>
</dict>
</plist>